azure_search_endpoint = "https://danilo-searchai-instance.search.windows.net"
azure_search_index_name = "sample_index_2"
azure_search_key = "**************************"

azure_openai_endpoint = "https://danilo-openai-test-instance.openai.azure.com"
azure_openai_deployment_name = "gpt-5.4-mini"
azure_openai_key = "*****************************************************"